.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .taskItem {
    display: flex;
  }
  
  .taskItemText {
    width: 200px;
    border-bottom: #bfbfbf 1px solid;
  }